{{#extends 'base'}}
    {{#block 'content'}}
    
    <div class="container">
        <h1>Suggestion Result</h1>
        <ul class="list-group">
                <li class="list-group-item">Name: {{name}}</li>
                <li class="list-group-item">Email: {{email}}</li>
                <li class="list-group-item">Title: {{title}}</li>
                <li class="list-group-item">Category: {{categoryOptions}}</li>
        </ul>
    </div>
    
    {{/block}}
{{/extends}}